<html lang="pt_br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="icon" type="imagem/png"
        href="https://st4.depositphotos.com/1213337/22049/i/600/depositphotos_220498312-stock-photo-letter-m-colorful-glowing-outline.jpg" />
    <title>Moreirão.com</title>
</head>

<body>
    <header>
        <div class="navbar">
            <a href="../">EDUARDO MOREIRA</a>
            <div class="dropdown  dropdown1">
                <button class="dropbtn">Sobre mim
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
            <div class="dropdown">
                <button class="dropbtn">O que não gostei
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">O que gostei
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../gosteiSo">Sistema operacionais</a>
                    <a href="#">Linguagem de programação</a>
                </div>
            </div>
        </div>
    </header>
    <div class="texto">
        <h3>Linguagem de Progamação</h3>
        <P>
            Esse tópico é de extrema importância e por esse motivo está entre os que gostei
            A progamação é a alma da informatica, tudo surgiu a partir dela. A Linguagem de
            programação é um conjunto de regras sintáticas e semânticas usadas para definir
            o algoritmo de um software e dizer ao computador o que deve ser feito.
        </P>
        <P>
            As primeiras linguagens de progamação surgiram juntamente com o modelos inicias de
            computador. A primeira geração foi chamada de linguagem de máquina e tinha como característica
            os códigos escritos formados principalmente por números.
            Em seguida na 2º geração as instruções começaram a ser formadas por palavas mnemônicas
            chamada linguagem Assembly.O assembly inovou ao introdudiz os endereços de memória
            (variáveis).
        </P>
        <p>
            A evolução da linguagem de progamação mostra uma mudança do grau de proximidade da linguagem com
            comandos de maquinas ou comando pensados por humanos. Com essa evolução foram surgindo certos paradigmas,
            relacionados com a logica de como a progamação é estruturada, são esses:
        </p>
        <p>
            I Imperativo - A principal característica
            desse paradigma é o que o software fará através de uma sequência de
            instruções que cria e manipula dados.Isso agilizou e facilitou o desenvolvimento de software.
            Podemos citar como exemplo:
            C, COBOL, LUA, FORTRAN, Go, etc
        </p>
        <p>
            I Lógico - Esse paradigma utiliza uma linguagem lógica que tem como principais características:
            o desenvolvedor descreve o problema para ser resolvido Linguagens de Programação
            e usa estruturas pré-estabelecidas para definir o problema. A principal
            vantagem desse paradigma é uma maior abstração principalmente para
            desenvolvimentos de sistemas de simulação para testar hipóteses e situações.
            o exemplos: Prolog, Planner, etc.
        </p>
        <p>
            I Funcional - A programação funcional é um paradigma de
            programação que trata a computação como uma avaliação de funções
            matemáticas e que evita estados ou dados mutáveis. Nesse caso software
            é visto como uma função que aceita entradas e funções de saída.. Podemos citar como exemplo:
            Lisp, Haskell, OCaml, F# e Elixir, etc
        </p>
        <p>
            I Orientado a objetos - . O principal diferencial desse
            paradigma é um modelo de análise, projeto e programação de software
            baseado na composição e interação entre diversas unidades chamadas de
            objetos. Os programas são arquitetados através de objetos que interagem
            entre si Podemos citar como exemplo : C++, C#, VB.NET, Java, Object Pascal, Objective-C, Python,
            SuperCollider, Ruby, Smalltalk, etc
        </p>
        <section id="Conteudo">
            <div class="wrapper">
              <ul>
                <li class="p-4">
                  <h5>Java</h5>
                </li>
                <li class="p-5">
                  <h5>C++</h5>
                </li>
                <li class="p-6">
                  <h5>Python</h5>
                </li>
                <div class="clear"></div>
              </ul>
            </div>
          </section>
        <p>
            Hoje em dia temos diversas linguagens de progamação, e cada dia que passa novas
            vão surgindo com novas funções que buscam facilitar o trabalho de desenvolvedores,
            progamadores. O motivo desse tópico ser de extrema importância é por possuir o principal
            conteúdo a ser estudado na área de TI, é necessario que todo profissional da área possua
            conhecimento e domínio sobre a linguagem alguma dessas linguagens.
        </p>
    </div>
    <footer>
        <div class="wrapper">
            <section id="info-rodape">
                <p>Copyright 2021. Todos os direitos reservados.</p>
                <p>Copyright 2021. All rights reserved.</p>
            </section>
            <section id="links-rodape">
                <ul>
                    <li>
                        <h5>Links</h5>
                    </li>
                    </li>
                    <li><a href="https://www.ufc.br/">UFC</a></li>
                    <li><a href="mailto:eduardombas@gmail.com">Eduardo Moreira</a></li>
                </ul>
            </section>
        </div>
    </footer>
</body>

</html>