<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Moreirão.com</title>
</head>

<body>
  <header>
    <div class="navbar">
      <a href="../">EDUARDO MOREIRA</a>
      <div class="dropdown">
        <button class="dropbtn">O que não gostei
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../ngosteiredes">Redes de computadores</a>
          <a href="../ngosteicpu">CPU</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">O que gostei
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../gosteiso">Sistema operacionais</a>
          <a href="../gosteiling">Linguagem de programação</a>
        </div>
      </div>
    </div>
  </header>
  <div class="texto">
    <h3>Sistema Operacional:</h3>
    <p>Os sistemas operacionais surgiram como forma de facilitar o uso dos computadores, fornecendo imagem
      do que antes seriam linhas de comandos que apenas profissionais e estudiosos da área conseguiriam
      utilizar.
    </p>
    <p> Com a chegada do Sistema Operacional os computadores se tornaram mais simples de se utilizar, e os
      recursos nele cada vez mais transparentes.
      São exemplos de SOs: Linux, Mac OS, Windows, FreeBSD, Android, iOS e muitos outros
      <br />
      Cada sistema operacional possui sua identidade visual:
    </p>
    <section id="Conteudo">
      <div class="wrapper">
        <ul>
          <li class="p-1">
            <h5>Linux</h5>
          </li>
          <li class="p-2">
            <h5>Windows</h5>
          </li>
          <li class="p-3">
            <h5>MacOs</h5>
          </li>
          <div class="clear"></div>
        </ul>
      </div>
    </section>
    <p>
      Relação entre Sistema Operacional, hardware e Software: O SO também é responsável pela organização 
      da execução do hardware e software do computador, controlando por exemplo qual hardware utilizará o 
      barramento de dados ou qual software transmitirá dados pela rede. Múltiplos programas executam durante 
      o funcionamento do computador, e o SO gerencia a execução dos programas, definindo qual programa 
      executará na CPU.
      <br>
      Outro objetivo do SO é o controle dos recursos do computador como memória RAM, CPU e barramento, 
      por exemplo. O SO controla a quantidade e os espaços na memória que cada programa em execução utilizará. 
      A troca de dados da memória RAM para memória virtual também é realizada pelo SO.
    </p>

    <p>
      O Sistema operacional também é responsável pela segurança dos dados, os usuários
      de um computador possuem seus próprios arquivos, que devem ser
      inacessíveis aos demais usuários, e o controle de acesso aos arquivos é
      realizado pelo SO. Dentre os usuários de um computador, sempre deve
      existe um administrador que tem controle total do computador.
      O gerenciamento da memória RAM pelo Sistema Operacional inclui o controle de acesso a
      memória, permitindo que os programas acessem apenas o seu próprio
      espaço na memória RAM, evitando roubo de informações
      <br>
      Os sistemas operacionais se tornaram indispensáveis. Eles sempre buscam inovar
      nas funções, tornado cada vez mais prático o uso do computador, através de novos softwares,
      hardwares. ex: assistente virtual do windows Cortana, que pode ser utilizada por comandos de voz
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/HCQqWCOM99w" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

    <footer>
      <div class="wrapper">
        <section id="info-rodape">
          <p>Copyright 2021. Todos os direitos reservados.</p>
          <p>Copyright 2021. All rights reserved.</p>
        </section>
        <section id="links-rodape">
          <ul>
            <li>
              <h5>Links</h5>
            </li>
            </li>
            <li><a href="https://www.ufc.br/">UFC</a></li>
            <li><a href="mailto:eduardo.mbas@gmail.com">Eduardo Moreira</a></li>
          </ul>
        </section>
      </div>
    </footer>
  </div>
</body>