<html lang="pt_br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="icon" type="imagem/png" href="https://st4.depositphotos.com/1213337/22049/i/600/depositphotos_220498312-stock-photo-letter-m-colorful-glowing-outline.jpg"/>
  <title>Moreirão.com</title>
</head>
<body>
  <header>
    <div class="navbar">
      <a href="../">EDUARDO MOREIRA</a>
      <div class="dropdown  dropdown1">
        <button class="dropbtn"> 
          <a class="ahome" href="#Conteudo"> Sobre mim </a>
          <i class="fa fa-caret-down"></i>
        </button>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">O que não gostei 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../ngosteiredes">Redes de computadores</a>
          <a href="../ngosteicpu">CPU</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">O que gostei 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../gosteiso">Sistema operacionais</a>
          <a href="../gosteiling">Linguagem de programação</a>
        </div>
      </div> 
    </div>
  </header>
  <section id="image-principal">
    <div class="wrapper">
      <h4 class="img"><strong>"A aventura de um jovem no primeiro semeste de Sistema de informação"</strong><br>
      </h4>
    </div>
  </section>
  <section id="Conteudo">
    <div class="wrapper">
      <ul>
        <li class="p-1">
          <h5>Alimentação</h5>
          <p>As melhores comidas típicas estão aqui.</p>
        </li>
        <li class="p-2">
          <h5>Vestuário</h5>
          <p>Tudo que você precisa para estar na moda.</p>
        </li>
        <li class="p-3">
          <h5>Utensílios domésticos</h5>
          <p>Uma variedade de utensilios para o seu lar.</p>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
  </section>
  <section id="conteudo-principal">
    <div class="wrapper">
      <article>
        <h3>Depoimentos</h3>
      </article>
      <article>
        <h5>"Pra quem gosta de feirão a céu aberto com todos as peculiaridades cearenses, esse eh o lugar. Panelada,
          carnes, verduras, queijos. Uma variedade só. Bem movimentado mesmo em tempos de pandemia."</h5>
        <p>Ju nor.(Cliente)</p>
      </article>
      <br>
      <article>
        <h5>"Se você quiser comer uma buchada deliciosa ou uma panelada no capricho, então é aqui que você
          vai encontrar."</h5>
        <p>Davi paiva (Redator do site Pratos fortal)</p>
      </article>
      <br>
      <article>
        <h5>"É uma feira bem diversificada, aqui você encontra desde frutas, legumes e verduras a peixes, frutos
          do mar, roupas e comida regional."</h5>
        <p>Dona dora (feirante há mais de 10 anos)</p>
      </article>
      <article>
        <h4 id="maissobre"></h4>
        <h4 id="feira-livre">Horário de funcionamento</h4>
        <table>
          <tbody>
            <tr>
              <th>Dias da Semana</th>
              <th>Horário</th>
            </tr>
            <tr>
              <td>De Segunda-feira <br> a Sexta-feira </td>
              <td>
                <ol>
                  <li>Das 5:30H até às 11h</li>
                </ol>
              </td>
            </tr>
            <tr>
              <td>Sábados e Domingos</td>
              <td>
                <br>Das 6:00H até às 15H
              </td>
            </tr>
            </tr>
          </tbody>
        </table>
      </article>
      <div class="clear"></div>
    </div>
  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Copyright 2021. Todos os direitos reservados.</p>
        <p>Copyright 2021. All rights reserved.</p>
      </section>
      <section id="links-rodape">
        <ul>
          <li>
            <h5>Links</h5>
          </li>
        </li>
        <li><a href="https://www.ufc.br/">UFC</a></li>
        <li><a href="mailto:eduardombas@gmail.com">Eduardo Moreira</a></li>
      </ul>
      </section>
    </div>
  </footer>
</body>
</html>