<html lang="pt_br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="icon" type="imagem/png" href="https://st4.depositphotos.com/1213337/22049/i/600/depositphotos_220498312-stock-photo-letter-m-colorful-glowing-outline.jpg"/>
  <title>Moreirão.com</title>
</head>
<body>
  <header>
    <div class="navbar">
      <a href="../">EDUARDO MOREIRA</a>
      <div class="dropdown  dropdown1">
        <button class="dropbtn"> 
          <a class="ahome" href="#Conteudo"> Sobre mim </a>
          <i class="fa fa-caret-down"></i>
        </button>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">O que não gostei 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../ngosteiredes">Redes de computadores</a>
          <a href="../ngosteicpu">CPU</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">O que gostei 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../gosteiso">Sistema operacionais</a>
          <a href="../gosteiling">Linguagem de programação</a>
        </div>
      </div> 
    </div>
  </header>
  <section id="image-principal">
    <div class="wrapper">
      <h4 class="img"><br>
      </h4>
    </div>
  </section>
  <section id="Conteudo">
    <div class="wrapper">
      <article>
        <h3></h3>
      </article>
      <article>
        <h5>Meu nome é Eduardo Moreira e bem vindos ao meu site, aqui falaremos sobre icc 
          (introdução à ciência da computação), com os conteúdos que mais gostei e os que menos 
          gostei dos módulos 1 e 2 da apostila.</h5>
          <hr/>
      </article>
      <article>
        <h5> A seguir uma os conteúdos que são apresentados no site.</h5>
        <hr/>
        <table>
          <tbody>
            <tr>
              <th>Gostei</th>
              <th>Não gostei</th>
            </tr>
            <tr>
              <td>Sistema operacionais</td>
              <td>
                <ol>
                  <li>Redes de computadores</li>
                </ol>
              </td>
            </tr>
            <tr>
              <td>Linguagem de programação</td>
              <td>
                <ol>
                  <li>CPU</li>
                </ol>
              </td>
            </tr>
            </tr>
          </tbody>
        </table>
        <hr/> 
        <h5>
          Considerações finais:
        </h5>
        <P>A apostila mostra o funcionamento de toda estrutura, sistema, funcionamento de
          grande parte das redes de tecnologia, os diversos tópicos mostram todos os processos até usarmos o
          computador, o que está por trás de todo esse sistema. A escolha de tópicos que "gostei" e "não gostei"
          foi uma escolha difícil pois em toda unidade, módulo e tópico haviam assuntos e temas interessantes e
          importantes. A cadeira de Introdução à Ciência da Computação foi extremamente importante para entender
          mais sobre computadores e sistemas envolvidos na tecnologia, apesar de ser apenas a introdução, muito
          aprendizado foi passado nessa matéria, e tem muito mais ao longo do curso.
        </h5></P>
        <hr/>
      </article>
      <div class="clear"></div>
    </div>
  </section>
  <div class="texto">
    <footer>
      <div class="wrapper">
          <section id="info-rodape">
              <p>Copyright 2021. Todos os direitos reservados.</p>
              <p>Copyright 2021. All rights reserved.</p>
          </section>
          <section id="links-rodape">
              <ul>
                  <li>
                      <h5>Links</h5>
                  </li>
                  </li>
                  <li><a href="https://www.ufc.br/">UFC</a></li>
                  <li><a href="mailto:eduardo.mbas@gmail.com">Eduardo Moreira</a></li>
              </ul>
          </section>
      </div>
    </footer>
  </div>  
</body>

</html>