<!DOCTYPE html>
<html lang="pt_br">
<meta charset="UTF-8">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Moreirão.com</title>
</head>

<body>
    <header>
        <div class="navbar">
            <a href="../">EDUARDO MOREIRA</a>
            <div class="dropdown">
                <button class="dropbtn">O que não gostei
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../ngosteiredes">Redes de computadores</a>
                    <a href="../ngosteicpu">CPU</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">O que gostei
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../gosteiso">Sistema operacionais</a>
                    <a href="../gosteiling">Linguagem de programação</a>
                </div>
            </div>
        </div>
    </header>
    <div class="texto">
        <h3>Redes de computadores:</h3>
        <p>
            Redes de computadores é um dos assuntos que que menos gostei. Desde criança possuo contato com a internet,
            e por isso muitos dos temas citados nesse capítulo, já possuia certo conhecimento sobre, mas o capítulo
            ainda apresentou muitas curiosidades e características que não entendia por completo ou
            não tinha noção de todas funções e propriedades do sistema.
        </p>
        <p>
            Sobre os cabos é curioso entender a desproporção do funcionamento de cada um e o motivo de ter tanta
            diferença
            na capacidade entre eles, mostrando como a necessidade por informação, juntamente a tecnologia, procura
            sempre
            formas de mudar tudo ao seu alcance para que ela seja transmitida cada vez mais rápido.
        </p>
        <p>
            Esse capítulo abordou a importância do Protocolo, ele serve para permitir que os dispositivos transmitam
            dados
            entre si de maneira correta. O protocolo definirá como toda a comunicação ocorrerá, determinando por exemplo
            a
            sequência e o formato em que os dados serão transmitidos, como também o que fazer quando um problema ocorrer
            a comunicação.
        </p>
        <p>
            Para um bom sistema interno, alguns equipamentos podem se tornar extremamente necessários, o repetidor,
            ponte e
            switch possuem uma função semelhante de amplificar o sinal recebido, a fim de evitar a perda de dados,
            contudo
            cada um possui sua peculiaridade e entender sua diferença pode ser um diferencial para montar um sistema de
            rede de qualidade em sua organização.
        </p>
        <section id="Conteudo">
            <div class="wrapper">
                <ul>
                    <li class="p-7">
                        <h5></h5>
                    </li>
                    <li class="p-9">
                    </li>
                
                    <div class="clear"></div>
                </ul>
            </div>
        </section>
    <footer>
        <div class="wrapper">
            <section id="info-rodape">
                <p>Copyright 2021. Todos os direitos reservados.</p>
                <p>Copyright 2021. All rights reserved.</p>
            </section>
            <section id="links-rodape">
                <ul>
                    <li>
                        <h5>Links</h5>
                    </li>
                    </li>
                    <li><a href="https://www.ufc.br/">UFC</a></li>
                    <li><a href="mailto:eduardo.mbas@gmail.com">Eduardo Moreira</a></li>
                </ul>
            </section>
        </div>
    </footer>
    </div>
</body>