<!DOCTYPE html>
<html lang="pt_br">
<meta charset="UTF-8">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Moreirão.com</title>
</head>

<body>
    <header>
        <div class="navbar">
            <a href="../">EDUARDO MOREIRA</a>
            <div class="dropdown">
                <button class="dropbtn">O que não gostei
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../ngosteiredes">Redes de computadores</a>
                    <a href="../ngosteicpu">CPU</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">O que gostei
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../gosteiso">Sistema operacionais</a>
                    <a href="../gosteiling">Linguagem de programação</a>
                </div>
            </div>
        </div>
    </header>
    <div class="texto">
        <h3>CPU:</h3>
        <p>
            A Unidade Centro de Processamento, mais conhecida como CPU (Central Processing Unit) ou processador,
            é o componente do computador responsável por executar todas as tarefas do computador. Esse capítulo
            que apresenta a importância da CPU, também fala sobre a arquitetura de CPU e alguns pontos relacionados
            à estrutura.
        </p>
        <p>
            As arquiteturas de CPU podem ser divididas em duas, são elas: CISC e RISC. Essas duas arquiteturas são
            encontradas em todos os tipos de computadores. A CISC está presente nas CPUs dos PCs e ela objetiva que
            o processador possa realizar todos os tipos de tarefas de qualquer programa, mas para isso é necessário
            muitas instruções que possibilitem a realização dessas variadas tarefas. Como existem muitas instruções
            na CPU, o processador necessita de um certo tempo para identificar, a partir do opcode, qual ação aquela
            instrução realiza. Além disso, as instruções da arquitetura CISC normalmente são mais genéricas, e às
            vezes, necessitam de muitos ciclos do clock para executar um comando. Por isso, CPUs da arquitetura
            CISC possuem um clock muito alto, na casa de GHz, para que a CPU tenha um bom desempenho. Em outro caso,
            a RISC é voltada para tarefas mais específicas, por conta disso, a CPU da arquitetura RISC executará
            um número bem menor de instruções, e necessitará de menos clock, menos energia e por isso as CPUs RISC
            são bem mais baratas que as CISC.
        </p>
        <p>
            Esse capítulo traz essa importante diferença entre as arquiteturas de CPU, mas uns dos motivos para
            que ele seja um dos que não gostei deve-se ao fato de já ter tido contato com maior parte do conteúdo
            apresentado neste capítulo, a repetição em certos conteúdos fez com que a leitura se tornasse massiva
            em certos tópicos.
        </p>
        <section id="Conteudo">
            <div class="wrapper">
                <ul>
                    <li class="p-7">
                        <h5></h5>
                    </li>
                    <li class="p-8">
                    </li>
                
                    <div class="clear"></div>
                </ul>
            </div>
        </section>
        <footer>
            <div class="wrapper">
                <section id="info-rodape">
                    <p>Copyright 2021. Todos os direitos reservados.</p>
                    <p>Copyright 2021. All rights reserved.</p>
                </section>
                <section id="links-rodape">
                    <ul>
                        <li>
                            <h5>Links</h5>
                        </li>
                        </li>
                        <li><a href="https://www.ufc.br/">UFC</a></li>
                        <li><a href="mailto:eduardo.mbas@gmail.com">Eduardo Moreira</a></li>
                    </ul>
                </section>
            </div>
        </footer>
    </div>
</body>